body {
    font-family: "Open Sans", "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* Light beige background */
    scroll-behavior: smooth; /* Smooth scrolling */
}

header {
    background-color: #d8a7e5; /* Light purple background */
    padding: 7px;
    text-align: right;
    font-family: "Ubuntu", "Montserrat", Arial, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end; /* Use flex-end for right alignment */
    background-color: #d8a7e5; /* Light purple background */
    flex-wrap: wrap;
}

nav a {
    padding: 12px 18px;
    text-decoration: none;
    color: #f5f5dc;
    font-weight: bold;
}

nav a:hover {
    background-color: #b58cd9;
    color: black;
}

section {
    padding: 20px 10px 20px 20px; /* Adjust padding for consistency */
    margin: 0 5px;
}

h1, h2, h3 {
    color: #b074e5;
}

h1 {
    font-size: 2em; /* Font size for h1 */
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em; /* Font size for h2 */
    margin-bottom: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px; /* Adjust the width as needed */
    background-color: #f6f6ed;
    color: #333;
    text-align: left;
    border: 2px solid black;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: -350px;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

hr {
    border: none;
    border-top: 1px solid #d8a7e5;
    margin: 20px 0;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    color: #f5f5dc;
}

.nav-menu {
    display: flex;
}

.nav-menu a {
    padding: 12px 18px;
    text-decoration: none;
    color: #f5f5dc;
    font-weight: bold;
    background-color: #d8a7e5;
}

@media (max-width: 650px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #b58cd9;
    }
}

img.aid {
    width: 60%;
}

img {
    aspect-ratio: 3/2;
    width: 80%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

.logo {
    height: 50px;
}

.caption {
    font-size: smaller;
}
